body{
  background-color : #C49FF4;
  display : flex;
  justify-content : center;
  align-items : center;
}

form{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}

input[type="text"]{
  height : 30px;
  border : #6C5787 4px solid;
  border-radius : 8px;
  margin : 8px;
}

input[type = "submit"]{
  border-radius : 3px;
  background-color : #6C5787;
  border : none;
}

input[type = "submit"]:hover{
  color : white;
}

legend{
  font-size : 30px;
}